<!doctype html>
<html>
  <%= partial "shared/head" %>

  <body class="<%= page_classes %>">
    <div class="container">

      <%= partial "shared/header" %>
      <%= partial "shared/navigation" %>

      <section  class="articles-list">
        <%= yield %>
      </section>

      <% if paginate && num_pages > 1 %>
        <section class="pagination">
          <% if next_page %>
            <%= link_to '<span>Older posts</span>', next_page, :class => 'button' %>
          <% end %>
          <% if prev_page %>
            <%= link_to '<span>Newer posts</span>', prev_page, :class => 'new button' %>
          <% end %>
        </section>
      <% end %>

    </div>
  </body>
</html>
